<style>
    body{
        background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("https://media-cdn.tripadvisor.com/media/photo-s/0f/0d/2c/98/steak-platter.jpg");
        background-position:center;
        background-attachment: fixed;
        background-repeat: no-repeat; 
        background-size: cover;
        height: 100%;
    }
    .welcome-text{
        position: absolute;
        width: 600px;
        height: 150px;
        margin: 15% 30%;
        text-align: center;
    }
    .welcome-text h1{
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 60px;
        
    }
    
    .welcome-text a{
        border: 1px solid #fff;
        padding: 10px 25px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        margin-top: 20px;
        display: inline-block;
        color: #fff;
    }
    .welcome-text a:hover{
        background: #fff;
        color: #333;
    }
    </style>
    <body>
    
        <div class="welcome-text">
            <h1>Enjoy our food at your step!!</h1>
            <a href="login" style="background-color:bluevioletl;">Order By</a>
        </div>
    
    </body>
